<% provide(:title, "Home") %>
<div class="row">
  <p>
  「本屋体験」ができる東京の書店を紹介します。
  </p>
</div>

<div class="col-xs-12">
  <div class="thumbnail">
    <ul class="bookshops">
      <% @bookshops.each do |bookshop| %>
       <%= image_tag bookshop.image_data.url if bookshop.image_data? %>
         <h3><%= link_to bookshop.name, bookshop %></h3>
           <%= bookshop.description %><br />
     <% end %>
  </div>
</div>