<% provide(:title, 'All bookshops') %>

<h2>書店一覧</h2>
<div class="container">
  <div class="row">
        <% @bookshops.each do |bookshop| %>
          <div class="col-md-4">
           <%= image_tag bookshop.image_data if bookshop.image_data? %>
           <h3><%= link_to bookshop.name, bookshop %></h3>
           <%= bookshop.description %>
           </div>
        <% end %>
  </div>
</div>
