<% provide(:title, 'All bookshops') %>

<h2>書店一覧</h2>
<div class="container">
  <div class="row.my-3.mx-3">
        <% @bookshops.each do |bookshop| %>
          <div class="col-md-4">
            <div class="shop-card-link">
              <%= image_tag bookshop.image_data if bookshop.image_data? %>
              <div class="card-body.d-flex.justify-content-between">
                <h3><%= link_to bookshop.name, bookshop %></h3>
                <%= @bookshop.description %>
              </div>
            </div>
         </div>
        <% end %>
  </div>
</div>
